<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
</head>
<body class="bodycolo">
    <section>
         <!-- nav part -->
         <%- include("Header") %>
    </section>
    <div class="addheight"></div>
    <section class="contentarea">
        <div class="row">
            <div class="col-6 hcol ">

                <h1 class="headingpart">Donate Blood To Save Life</h1>
                <p class="paraa">Welcome to our Blood Bank website, where life flows through compassionate donations. Committed to saving lives, we provide a secure platform for donors and recipients, fostering a community united in the noble cause of sustaining the gift of life.</p>

                <div class="butmargin">
                  <a href="/donate/login" style="text-decoration: none;">
                <button class="button type1">
                    <span class="btn-txt">Donate</span>
                </button>
              </a>
                <a href="/contact" style="text-decoration: none;">
                <button class="button type1">
                    <span class="btn-txt">Contact Us</span>
                </button>
              </a>
                </div>

            </div>

            <div class="col-6 imgcol">

            <img src="/images/homeimg/img1.png" alt="" class="img1">

            </div>

        </div>
    </section>
<!-- footer part -->
   <section>
    <%- include("footer") %>
   </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>  

</body>
</html>