<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/whydonate.css">

    <title>Why donate blood</title>
</head>
<body class="bodycolo">
    <section>
         <%- include("Header") %>
   </section>


<section class="contentpart">
    <h1 class="hposi">WHY DONATE BLOOD?</h1>
</section>
<div class="adheight">

</div>
<section>
    <div class="container">
        <div class="row">
          <div class="col imganddis">
            <div class="card">
                <div class="content">
                    <img src="/images/whydonateimg/1.png" alt="" class="imgsize1">
                  <div class="title">What is a blood donation?</div> 
                  <div class="description">Blood that's taken straight from a donor. After it's donated, we usually separate blood into red blood cells, plasma and platelets in our labs</div>
                </div>
            </div>
          </div>
          <div class="col imganddis">
            <div class="card">
                <div class="content">
                    <img src="/images/whydonateimg/2.png" alt="" class="imgsize2">
                  <div class="title">How long do red blood cells last?</div>
                  <div class="description">Red blood cells only last 42 days from when they're donated. Australia needs over 1.7 million donations every year to meet demand: that's three every minute.</div>
                </div>
            </div>
          </div>
          <div class="col imganddis">
            <div class="card">
                <div class="content">
                    <img src="/images/whydonateimg/3.png" alt="" class="imgsize3">
                  <div class="title">Your blood can save lives</div>
                  <div class="description">Did you know one blood donation can save up to three lives? Just think about how many lives you could change by coming back for more.</div>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>
<div class="adheight"></div>
<section>
    <div class="container title">Why is it Important to Donate Blood?</div>
    <div class="container description">About 328 million people currently live in the U.S. Each year, approximately 6.8 million people in the U.S donate blood. Annually, this adds up to about 13.6 million units of whole blood collected for donation in the U.S. The Red Cross provides about 40% of our nation’s blood and blood cell components to donors. Your blood donations are used for patients in need of surgery, cancer treatment and transfusions for blood loss from traumatic injuries. Want to know more about the blood supply in the U.S.? Visit the Facts About Blood Supply page.</div>
    <div class="adheight"></div>
    <div class="container title">The Importance of Diversity in the Blood Supply</div>
    <div class="container description">Maintaining diversity in the blood supply is essential. Some blood types are quite rare and are likeliest to be found among people with shared ancestral origins. Visit our Blood and Diversity page for more information on the need for diversity in the blood supply.</div>
    <div class="adheight"></div>
    <div class="container title">Blood Donation Types</div>
    <div class="container description">Blood donations can yield a variety of blood products, including red cells, platelets and plasma. You may be most familiar with the typical whole blood donation drive seen at workplaces, schools and community events, but there are a few other ways to help give more life through the Red Cross.</div>
    <div class="adheight"></div>
    <div class="container title">Plasma Donation:</div>
    <div class="container description">During a plasma donation, called plasmapheresis, blood is drawn from one arm and sent to the centrifuge that separates out the plasma. The red blood cells and platelets are then returned to you in the same arm. Plasma is used to help patients with severe burns, cancer or other potentially life-threatening conditions.
        The Red Cross encourages donors with the AB blood type to donate plasma, as this is the universal plasma donor type. One donation provides up to four units of plasma for patients in need.
        As you can see, blood donations are one of the most important things you can do to help others in need. There is no substitute for blood, and it can’t be manufactured. Every day, blood donors help patients of all ages from all backgrounds.</div>
</section>

<div class="adheight"></div>

<section>
    <div class="title text-center">If u are interested</div>
    <br>
    <div class="buttonposition">
        <a href="/donate/login">
          <button class="button type1">
            <span class="btn-txt">Donate</span>
          </button>
        </a>
</div>
</section>
<div class="adheight"></div>

<!-- footerpart -->

<section>
    <%- include("footer") %>
</section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>  

    </body>
    </html>